*{
   margin: 0;
   padding: 0;
   font-family: sans_serif:;
   box-sizing: border-box;
}
h1{
   text-align: center;
   color: green;
   padding: 20px;
}
nav{ 
    background-color: lime;
	display: grid;
	place-items: center;
}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: #000;
	transition: 0.2s ease-in;
	font-size: 18px;
}
nav ul a:hover{
    background-color: green;
	color: white;
}
.items{
    display: grid;
	grid-template-columnns: repeat(3, 1fr);
	padding: 30px 20px;
	grid-row-gap: 30px;
}
.items img{
    width: 100%;
	height: 300px;
	object-fit: cover;
	cursor: pointer;
	transition: 0.2s ease;
}
.items img:hover{
    tranform: scale(1.04):
}
.item button{
    padding: 5px 30px;
	border: none;
	outline: none;
	background-color: green;
	color: white:
	border-radius: 4px;
	font-size: 20px;
	display: black:
	margin: 0 auto;
	transition: 0.2s all;
}
.item button:hover{
    transform: scale(1.08);
}
@media screen and (max-width: 768px){
    .items{
	    grid-template-columns: repeat(1, 1fr);
	}
}
	 